@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Caprasimo&family=Lato&family=Lobster&family=Shrikhand&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333333f2;
    background-color: #f9f9f9;
    padding: 0;
}

img {
    width: 700px;
    display: block;
    margin: 20px auto;
}

.container {
    width: 950px;
    margin: 20px auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    padding: 25px;
}

.header {
    text-align: center;
    font-size: large;
    color: rgb(253, 253, 253);
    background-color: #000000db;
    padding: 1px;
    font-family: 'Shrikhand', cursive;
}

.container-1 h1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Lobster', cursive;
    color: black;
}

.container-1 {
    text-align: justify;
    margin-bottom: 50px;
}

.container-2 h1 {
    text-align: center;
    font-size: 45px;
    font-family: 'Lobster', cursive;
    color: black;
}

.container-2 {
    text-align: justify;
    margin-bottom: 50px;
}

.container-3 h1 {
    font-size: 45px;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: black;
}

.container-3 {
    text-align: justify;
    margin-bottom: 50px;
}

.container-4 h1 {
    font-size: 45px;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: black;
}

.container-4 {
    text-align: justify;
    margin-bottom: 50px;
}

.container-5 h1 {
    font-size: 45px;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: black;
}

.container-5 {
    text-align: justify;
    margin-bottom: 50px;
}

.container-6 h1 {
    font-size: 45px;
    text-align: center;
    font-family: 'Lobster', cursive;
    color: black;
}

.container-6 {
    text-align: justify;
    margin-bottom: 50px;
}

footer p {
    text-align: center;
}

footer {
    padding: 7px;
    background: #000000df;
    color: white;
}
